.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  height: auto; 
}
p{
  color: #626262;
}
.intro-container h1{
  padding-bottom: 20px;
  size: 40px;
}
.intro-container {
  width: 50%;
  float: left;
  text-align: left
}
.intro-image {
  width: 40%;
  height: auto;
}
.intro img {
  max-width: 100%;
  height: auto;
}
.explore-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
